.drop-in .container {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: padding .4s cubic-bezier(0.694,0.0482,0.335,1);
    transition: padding .4s cubic-bezier(0.694,0.0482,0.335,1);
    max-width: 100%; }

.site-header .container {
    height: 60px; }

.site-header a {
    text-decoration: none;
    color: #333; }

.site-header .custom-logo-link h1 {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    text-decoration: none;
    font-family: 'Londrina Solid', cursive; }
    @media (max-width: 420px) {
        .site-header .custom-logo-link h1 {
            font-size: 1.5rem; } }

.site-header .site-logo img {
    border-radius: 100%;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.694,0.0482,0.335,1),border-radius .2s cubic-bezier(0.694,0.0482,0.335,1),-webkit-transform .3s cubic-bezier(0.694,0.0482,0.335,1);
    transition: box-shadow 300ms cubic-bezier(0.694,0.0482,0.335,1),border-radius .2s cubic-bezier(0.694,0.0482,0.335,1),-webkit-transform .3s cubic-bezier(0.694,0.0482,0.335,1);
    transition: transform .3s cubic-bezier(0.694,0.0482,0.335,1),box-shadow 300ms cubic-bezier(0.694,0.0482,0.335,1),border-radius .2s cubic-bezier(0.694,0.0482,0.335,1);
    transition: transform .3s cubic-bezier(0.694,0.0482,0.335,1),box-shadow 300ms cubic-bezier(0.694,0.0482,0.335,1),border-radius .2s cubic-bezier(0.694,0.0482,0.335,1),-webkit-transform .3s cubic-bezier(0.694,0.0482,0.335,1); }

.drop-in {
    -webkit-transition: box-shadow .3s cubic-bezier(0.694,0.0482,0.335,1),background .3s cubic-bezier(0.694,0.0482,0.335,1),-webkit-transform .3s cubic-bezier(0.694,0.0482,0.335,1);
    transition: box-shadow .3s cubic-bezier(0.694,0.0482,0.335,1),background .3s cubic-bezier(0.694,0.0482,0.335,1),-webkit-transform .3s cubic-bezier(0.694,0.0482,0.335,1);
    transition: transform .3s cubic-bezier(0.694,0.0482,0.335,1),box-shadow .3s cubic-bezier(0.694,0.0482,0.335,1),background .3s cubic-bezier(0.694,0.0482,0.335,1);
    transition: transform .3s cubic-bezier(0.694,0.0482,0.335,1),box-shadow .3s cubic-bezier(0.694,0.0482,0.335,1),background .3s cubic-bezier(0.694,0.0482,0.335,1),-webkit-transform .3s cubic-bezier(0.694,0.0482,0.335,1);
    z-index: 9999; }

.site-header {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 0px 1px 0px rgb(255, 255, 255), 0px 28px 72px -34px rgba(0,0,0,0.11); }

.site-header .nav div {
    display: inline-block; }

.site-header .nav li {
    position: relative;
    text-align: right; }
    @media only screen and (min-width: 600px) {
      .site-header .nav li {
          display: inline-block;
          text-align: left; } }

.site-header .nav li a {
    display: inline-block;
    -webkit-transition: opacity 100ms cubic-bezier(0.645,0.045,0.355,1);
    transition: opacity 100ms cubic-bezier(0.645,0.045,0.355,1); }
    @media only screen and (min-width: 600px) {
        .site-header .nav li a {
            padding: .25em .6em; } }

.site-header .nav li a {
    color: #727477; }

.site-header .social-navigation,
.site-header .site-title,
.site-header .site-description {
    position: relative;
    margin-left: 1em; }

.site-header:before, .site-header:after {
  content: "";
  display: table; }

.primary-menu:before,
.primary-menu:after {
    content: "";
    display: table; }

.social-menu:before,
.social-menu:after {
    content: "";
    display: table; }

.menu-social-container ul {
    list-style: none; }

.hero_section {
    min-height: 420px; }
    @media (min-width: 565px) {
        .hero_section {
            padding: 0 3rem; } }

.hero_section h1 {
/*    font-family: 'Londrina Solid', cursive; */
    font-weight: 700;
    color: #797979;
/*    letter-spacing: .1rem;*/
    padding-bottom: 1rem; }

.hero_section p {
    padding-bottom: 2rem;
    color: #797979; }

.hero_section a {
    text-decoration: none; }

.hero_section input {
    width: 350px;
    height: 30px;
    margin: 1rem;
    border-radius: 6px;
    border: 1px solid #afafaf;
    padding: 1rem; }
    @media (max-width: 420px) {
       .hero_section input {
            width: 250px; } }

.grid {
    padding: 0rem 3rem; }

.brand__images>li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    position: relative;
    text-align: center;
    color: #757575;
    background: #fff;
    border-radius: 6em;
    margin-bottom: 6rem;
    box-shadow: 0px 0px 0px 0px rgb(150, 130, 130), 0px 28px 72px -34px rgba(0,0,0,0.51);
    -webkit-transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-weight: bold; }
    .brand__images>li:hover {
        transform: scale(1.07, 1.07); }

.brand__images_grid>li {
    padding-bottom: 10rem; }

.brand__images {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.brand__images_image {
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 100%; }

.brand__images_image img {
    display: block;
    margin: 0 auto;
    max-height: 40vh;
    min-width: 35vh;
    max-width: 100%;
    transition: all .4s; }

.brand__images_info {
    bottom: 0;
    left: 0;
    min-height: 10rem;
    position: absolute;
    right: 0; }

.brand__images_info p {
    color: #ababab; }

.subscribe__header {
    color: #f5f5f5;
    padding-bottom: 3rem;
    margin-bottom: 2rem; }

#member_email {
    width: 350px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 1rem; }
    @media (max-width: 420px) {
       #member_email {
            width: 250px; } }

#member_submit {
    padding: 1rem 4rem;
    border-radius: 6px;
    margin-top: 3rem;
    border: 1px solid #fff;
    background: #333;
    color: #fff;
    cursor: pointer; }

#revue-embed {
    margin: 4rem 0rem; }


